/* Google.com fonts import */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,500;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    /* Google.com Fonts */
    --primary-font: "Host Grotesk", sans-serif;
    --secondary-font: "Source Code Pro", monospace; 
    --body-font: "Inter", sans-serif;
    /* Coolors.com generated colour palette */
    --primary-color: #1B2A41; /* oxford blue */
    --accent-color: #FF6B35; /* orange (crayola) */
    --secondary-accent: #fa591f; /*gaints orange */
    --hero-accent: #9be6ec; /* celeste */
    --body-color: #333333; /* jet */
    --background-color: #f5f5f5; /* white smoke*/
    --nav-color: #ECECEC; /* anti-flash white */
    --content-background: #b2b2b222; /* silver */
}

/* Global Styles */
html {
    scroll-padding-top: 7.5em;
}

html,
body {
    font-family: var(--body-font);
    font-size: 1rem; /* 16px, respects user settings */
    line-height: 1.5; /* Improves readability*/
    color: var(--body-color);
    background-color: var(--background-color);
    min-height: 100vh; /* Credited Greg Ord-Hume to remove white space under the footer */
    display: flex; /* Credited Greg Ord-Hume to remove white space under the footer */
    flex-direction: column; /* Credited Greg Ord-Hume to remove white space under the footer */
} 

body main {
    flex: 1 auto; /* Flex: 1 auto; Credited to Greg Ord-Hume - Medium to remove white space under the footer */
    margin-top: 7em; /* Add margin at the top to prevent content from being covered by the header */
}

section {
    padding-bottom: 1rem;
}

h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
}

h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

.btn {
    padding: clamp(0.5em, 1vw, 0.75em) clamp(1em, 2vw, 1.5em);
    font-size: clamp(0.9em, 1vw + 0.8em, 1.2em);
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background-color: var(--secondary-accent);
    border: none;
}

/* Navbar */
.logo {
    max-height: 4.4em;
    width: auto;
}

.navbar-nav {
    font-weight: 500;
}

nav {
    background-color: var(--nav-color); /* Styles for dropdown toggle */
    box-shadow: 0 2px 1px #3a3a3a47;
}

/* Index.html */

/* Hero Section */
.hero {
    position: relative;
    background: url("../images/hero-image.jpeg") center/cover no-repeat; /* Adobe Stock Images JPEG File */
    height: 30vh;
    width: auto;
    margin: 0;
    background-position: 70%;
    color: var(--hero-accent);
}

.hero-content {
    position: absolute;
    top: 0.5em;
    left: 0.2em;
    max-width: 100%;
    color: white;
    font-size: clamp(2rem, 8.2vw, 9rem);
}

.hero .btn {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

/* Appliance Section */
#appliance-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding-top: 1.7rem;
}

.appliance-img-grey {
    background-color: var(--content-background);
    height: 9em;
    width: auto;
    margin: 0.5em;
    border-radius: 100em 40em 80em 90em;
}

.appliance-img-change {
    background-color: var(--content-background);
    height: 9em;
    width: auto;
    margin: 0.5em;
    border-radius: 90em 80em 40em 100em;
}

/* Customer Review Section */
.carousel .carousel-indicators button { /* Credit to Bashid on Stack Overflow - how to change carousel indicators into dots */
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin: 0 0.5em;
    background-color: var(--accent-color);
}

.carousel-caption {
    text-align: left;
    left: 0.5em;
    top: 4em;
    right: 0.5em;
    padding: 0;
    bottom: 4em;
}

.carousel-caption h2 {
    text-wrap: balance;
    font-size: clamp(2rem, 6.4vw, 3rem);
    margin-top: 0.2em;
}

.carousel-caption p {
    color: var(--body-color)
} 

.carousel-item {
    background-color: var(--content-background);
}

.carousel-item img {
    height: 25em;
    width: auto;
    position: inherit;
    right: -50em
}

.fa-star {
    color: var(--hero-accent);
}

/* About Us Section */ 
#about-us h2 {
    text-align: center;
}

#about-body {
    text-align: justify;
}

#about-body img {
    position: relative;
    width: 100%;
}

#about-body p {
    margin: 1em;
}

/* Contact-us.html */
form {
    max-width: 30em;
    margin: 0 auto;
    padding: 1em;
}

label {
    display: flex;
    margin-bottom: 0.3em;
    font-weight: 600;
    color: #555;
}

/* W3Schools - material to target input fields in CSS */
input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
select:focus,
textarea:focus {
    border-color: #007acc;
    outline: none;
}

form div {
    margin-top: 0.3em;

}

form .btn {
    display: block;
    margin: 0 auto;
}

/* Action-page.html */
.thank-you-box {
    text-align: center;
    margin: 12% 15%;
}

#contact {
    background-color: var(--nav-color);
    padding-top: 1em;
}

#contact .btn {
    bottom: 1em;
    position: relative;
    margin-top: 0.5em;
}

/* Our-services.html */
.services-heading {
    padding: 0.5em 0 0;
}

.services-grid {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.services-item {
    flex: 1;
    height: 9em;
    width: auto;
    margin: 0.5em;
    text-align: center;
}

.services-grey {
    background-color: var(--content-background);
    height: auto;
    width: 15em;
    margin: 1.5em;
    border-radius: 100em 40em 80em 90em;
}

.services-accent {
    background-color: var(--hero-accent);
    height: auto;
    width: 15em;
    margin: 1.5em;
    border-radius: 90em 80em 40em 100em;
}

.why-choose-us {
    background-color: var(--content-background);
}

.why-choose-us h2 {
    padding: 0.5em;
    margin: 0;
    text-align: center;
}

.why-choose-us img {
    height: auto;
    width: 12em;
    position: relative;
    padding: 0;
}

.why-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.why-choose-us ul {
    list-style: none;
    padding: 0 1em;
}

.why-choose-us li {
    padding: 0.5em 0;
    vertical-align: middle;
} 

.fa-circle-check {
    color: var(--accent-color);
}

.call-to-action {
    padding-top: 1em;
    text-align: center;
}

/* Tablet devices (tablet, 768px and up) */
@media screen and (min-width: 768px) {

/* Index.html */
/* Hero section */
.hero {
    background-position: center 33%;
}

/* About-us.html */
#about-us h2 {
    font-size: 3rem;
}

/* Our-services.html */
.services p {
    margin: 0 5em;
}
}

/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {

/* Index.html */
/* Hero Section */
.hero {
    background-position: center 23%;
}

/* Customer reviews section */
.carousel-item img {
    right: -36em;
}

/* Our-services.html */
.services p {
    margin: 0 10em;
}
}

/* XL devices (XL devices, 1440px and up) */
@media screen and (min-width: 1440px) {

/* Index.html */
/* Hero Section */
.hero {
    background-position: center 20%;
    height: 30em;
}

/* Customer reviews section */
.carousel-caption {
    margin-right: 26em;
}

.carousel-item img {
    right: -60em;
}

/* Our-services.html */
.services p {
    margin: 0 23em;
}
}