/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,500;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Host Grotesk", sans-serif;
    --secondary-font: "Source Code Pro", monospace; 
    --body-font: "Inter", sans-serif;
    --primary-color: #1B2A41; /* oxford blue */
    --secondary-color: #4A4A4A; /* davy's gray */
    --accent-color: #FF6B35; /* orange (crayola) */
    --body-color: #333333; /* jet */
}

/* Global Styles */

* {
    box-sizing: border-box;
}

html,
body {
    font-family: var(--body-font);
    font-size: 1rem; /* 16px, respects user settings */
    line-height: 1.5; /* Improves readability*/
    color: var(--body-color);
    background-color: #F5F5F5;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    padding-top: 2rem;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.page-body {
  padding: 20px;
  flex-grow: 1;
}

h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin: 15px 0 15px;
}

.btn {
    padding: clamp(0.5rem, 1vw, 0.75rem) clamp(1rem, 2vw, 1.5rem);
    font-size: clamp(0.9rem, 1vw + 0.8rem, 1.2rem);
    background-color: #FF6B35;
    color: #fff;
    text-decoration: none;
    border: none;
    box-shadow: 0.5px 0.5px #942b0565;
}

.btn:hover {
    background-color: #fa591f;
    border: none;
}

/* Navbar */

.logo {
    max-height: 89px;
    width: auto;
    padding: 1.5px;
}

.navbar {
    background-color: #ECECEC;
}

.navbar-nav {
    font-family: var(--body-font);
    color: var(--body-color);
    font-weight: 500;
}

/* Index page main content */

/* Hero image */

.hero {
    position: relative;
    background: url("../images/hero-image.jpeg") center/cover no-repeat;
    height: 40vh;
    width: auto;
    color: #fff;
    margin-top: 5rem;
}

.hero-content {
    position: absolute;
    top: 1.05rem;
    left: 0.5rem;
    padding: 0.5rem;
    max-width: 100%;
    font-size: 2rem;
    color: white;
}

.hero .btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

/* Appliances */

#appliance-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.appliance-img {
    background-color: #b2b2b222;
    height: 135px;
    width: auto;
    margin: 10px;
    border-radius: 8%;
}

/* Customer Reviews */

/* override bootstrap styling to change the carousel indicator buttons into dots, code taken from stack overlow by Bashid https://stackoverflow.com/questions/70819649/how-can-i-change-bootstrap-5-carousel-indicators-into-dots/71997944*/
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
/* custom css */
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--accent-color);
}

.carousel-caption {
    text-align: left;
    left: 0.9rem;
    top: 2rem;
}

.carousel-caption h2 {
    text-wrap: balance;
}

.carousel-caption p {
    color: var(--body-color)
} 

.carousel-item {
    background-color: #b2b2b222;
}

.carousel-item img {
    height: 400px;
    width: auto;
    position: relative;
    right: -455px;
}

.review-star {
    margin-bottom: 8px;
}

/* About us */ 

#about-us h2 {
    text-align: center;
}

#about-body {
    text-align: justify;
}

#about-body img {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

#about-body p {
    margin: 0px 13px 15px;
}

/* Contact us page form */

form {
    max-width: 500px;
    margin: 85px auto 3px auto;
    padding: 20px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
select:focus,
textarea:focus {
    border-color: #007acc;
    outline: none;
}

form div {
    margin-top: 5px;

}

form .btn {
    width: 100%;
}

/* Action page */

.thank-you-box {
    text-align: center;
    margin: 12% 15% 11% 15%;
}

#contact {
    background-color: #ECECEC;
    padding-top: 20px;
}

#contact .btn {
    bottom: 1rem;
    position: relative;
    margin-top: 0.5rem;
}

/* Our services page */

.service-hero {
    padding: 1rem;
    margin: 1rem 0;
    max-width: 600px;
}

.service-item-left {
    margin-left: 0;
}

.service-item-right {
    margin-left: auto;
}

.why-choose-us {
    padding: 2rem;
    margin: 1rem;
}

.why-choose-us ul {
    list-style: none;
    padding-left: 0;
}

.why-choose-us li {
    padding: 0.5rem 0;
} 

.call-to-action {
    text-align: center;
    padding: 2rem 1rem;
}

/* small mobile devices (mobile devices, 320px and up) */
@media screen and (min-width: 320px) {

.hero {
    background: url("../images/hero-image.jpeg") center/cover no-repeat;
    background-position: 75%;
}

}

/* Large mobile devices (Large mobile, 425px and up) */
@media screen and (min-width: 425px) {

/* Hero */
.hero-content {
    position: absolute;
    top: 2rem;
    font-size: 2.3rem;
}

}

/* Tablet devices (tablet, 768px and up) */
@media screen and (min-width: 768px) {

/* Hero */
.hero-content {
    font-size: 3.9rem;
}

.hero {
    height: 50vh;
}

/* Appliances */

.appliance-img {
    height: 165px;
}

/* Customer reviews */

.carousel-caption > h2 {
    font-size: 3rem;
}

.carousel-item img {
    right: -750px;
}

/* About us */

#about-us h2 {
    font-size: 3rem;

}

#about-body p {
    margin: 0px 15px 15px;
}

}

/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {

/* Hero */
.hero-content {
    font-size: 5.2rem;
    left: 1.2rem;
}

.hero {
    height: 45vh;
    background: url("../images/hero-image.jpeg") 10% 26% / cover no-repeat;
}

/* Customer reviews */

.carousel-item img {
    right: -560px;
}

}

/* XL devices (XL devices, 1440px and up) */
@media screen and (min-width: 1440px) {

/* Hero */
.hero-content {
    font-size: 7.3rem;
}

.hero {
    height: 59vh;
}

/* Customer reviews */

.carousel-item img {
    right: -990px;
}

.carousel-caption {
    margin-right: 300px;
}

/* About us */

#about-body p {
    margin: 0px 20px 15px;
}

}